*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

body{font-family: 'Noto Sans kr';
    font-size: 13px;
    line-height: 25px;
    color: #000;
}

.top{position:fixed; bottom:50px; right:50px; display:none;}

/* header */
#header{width: 100%; height: 110px;}
.header_inner{width: 1320px; margin: 0 auto; position: relative;}
.icon{position:absolute; top:45px; right:150px;}
.icon li{float: left; padding-right: 20px;}

.logo{position:absolute; top:25px; left:50%; margin-left: -32.5px;}

.icon li:hover{opacity: 0.5; color: #000;}

/* nav */
.nav{width: 100%;
    text-align: center;
    background-color: #6b7d64;
    text-transform:uppercase;
    z-index: 95;
    position: relative;
}

.nav ul{
    width:800px;
	margin:auto;
    display:flex;
	justify-content:space-between;}

.nav>ul>li{float: left;}
.nav>ul>li>a{display:block; padding:15px 50px; font-size: 17px; font-weight: bold; color: #eaded9;}
.nav>ul>li>a:hover{color:rgb(67, 77, 63)}

.nav li:hover .sub_bg{display:block;}

.sub_bg{width:100%; background-color: #fff; height:180px;
    position:absolute; top: 55px; left:0;
    display:none; background-color: #fff5e6; font-weight: bold; font-size: 18px; border-bottom: 1px solid #405437;
}
.sub li a{color: #405437;}

.gnb{text-align: center; padding-top: 70px;}
.sub img{padding-top: 12px;}
.sub1_img{padding: 7px;}
.sub4_img{padding-top: 30px;}
.sub li a:hover{color: rgb(231, 198, 155);}

.scroll-content{
    height: 2000px;
}
.scroll-fixed{
    position: fixed;
    top: 0px;
}

/* banner */
#banner{width: 100%; margin: 0 auto; height: 800px; background: url(../images/membershipbanner.jpg) no-repeat center top;}

/* contents1 */
#contents1{width: 1280px; height: 700px; margin: 150px auto;}
h1{text-align: center; padding-bottom: 50px;}
.card{float: left;}
.card_text{float: left; padding: 90px 0 0 80px;}
#contents1 h2{padding-bottom: 30px; font-size: 25px;}
#contents1 p{font-size: 18px; padding: 50px 0 0 10px;}

/* contnets2 */
#contents2{width: 1320px; height: 800px; margin: 0 auto;}
.coupon{float: right;}
.coupon li{width:440px; height: 300px; float: left; text-align: center;}
.coupon h3{padding: 10px 0;}

/* contents3 */
#contents3{width: 1320px; height: 650px; margin: 0 auto;}
.level{float: left; }
.level li{float: left; width: 300px; height: 450px; text-align: center; padding-top: 30px; }

.level1{border: 4px solid #e6cfb5;}
.level2{border: 4px solid #6d7368; margin:0 198px;}
.level3{border: 4px solid #ffbb6d;}
.level p{padding-top: 20px;}
.level h2{padding-top: 35px;}

/* footer */
#footer{width: 100%; height: 180px; background-color: #1f241c;}
.footer_inner{width: 1320px; margin: 0 auto;}
.footer_logo{float: left; margin: 60px 0 0px 200px;}

.text{float: left; margin: 42px 0 0 180px; color: #ccc;}

.sns{float: right; margin: 75px 300px 0 0;}
.sns_icon li{float: left; padding: 5px;}
.sns li a:hover{opacity: 0.5; color: #fff;}

